@tailwind base;
@tailwind components;
@tailwind utilities;


.menuNav{
  position: fixed;
  
  left: 0;
  bottom: 0;
  height: 90vh;
  width: 0;
  overflow: hidden;
  max-width: 100vw;
  z-index: 10;
  background-color: white;
}

.menuNav.showMenu{
  width: 100%;
}
